<table class="table table-hover" ng-controller="ListCtrl">
  <thead>
  <tr>
    <th style="width:10%;">#</th>
    <th style="width:50%;">제목</th>
    <th style="width:20%;">작성자</th>
    <th style="width:20%;">날짜</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>Mark</td>
    <td>Otto</td>
    <td>2015.01.01</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>2015.01.01</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Larry</td>
    <td>the Bird</td>
    <td>2015.01.01</td>
  </tr>
  </tbody>
</table>

<form class="form-horizontal" role="form">
  <div class="form-group">
    <div class="col-xs-4 col-sm-2">
      <select class="form-control col-lg-2">
        <option>제목</option>
        <option>작성자</option>
      </select>
    </div>

    <label class="sr-only" for="iptSearchText">Searh text</label>
    <div class="col-xs-8 col-sm-7">
      <input type="text" class="form-control" id="iptSearchText">
    </div>

    <div class="col-sm-3">
      <button type="submit" class="btn btn-default">검색</button>
    </div>
  </div>
</form>
